<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994818634451-9use9uoaopknug766ioardfh63m8lde6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994818634451-9use9uoaopknug766ioardfh63m8lde6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>994818634451-2lerer6bns2vlqglco86eu2cbeq1kqd3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQI1zEzgHaW4_9QV4NSFyEFehiS1_8Sow</string>
	<key>GCM_SENDER_ID</key>
	<string>994818634451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.rentozo</string>
	<key>PROJECT_ID</key>
	<string>rentrozo-d6419</string>
	<key>STORAGE_BUCKET</key>
	<string>rentrozo-d6419.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994818634451:ios:97c802425c68151686da26</string>
	<key>DATABASE_URL</key>
	<string>https://rentrozo-d6419.firebaseio.com</string>
</dict>
</plist>