<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Rentozo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.app.rentozo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.994818634451-9use9uoaopknug766ioardfh63m8lde6</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.994818634451-9use9uoaopknug766ioardfh63m8lde6</string>
				<string>fb422644849121300</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>422644849121300</string>
	<key>FacebookDisplayName</key>
	<string>Rentrozo</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>FirebaseAppDelegateProxyEnabled</key>
    <string>NO</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>no usage</string>
	<key>NSCalendarsUsageDescription</key>
	<string>no usage</string>
	<key>NSCameraUsageDescription</key>
	<string>Need to access your camera to capture a photo add and update user's ads.</string>
	<key>NSContactsUsageDescription</key>
	<string>no usage</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Need to show ads to user on basis of user current location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>No use</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Need to show ads to user on basis of user current location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow access to microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>no usage</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need to access your photo library to select a photo add and update profile picture and user ads</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>no usage</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
</dict>
</plist>
